.line {
    background-color: rgba(0, 0, 0);
}

.word {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 24px;
    color: rgba(255, 255, 255);
    padding: 4px 3px;
    text-shadow: 1px 1px 2px rgba(0,0,0);
}

.word-being-narrated {
    color: #FFFFFF;
    font-weight: bold;
}

.word-already-narrated {
    color: rgba(255, 255, 255, 0.9);
}

.first-word-in-line {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.last-word-in-line {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
